@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background: rgb(97,94,94);
  background: radial-gradient(circle, rgb(14, 14, 14) 0%, rgb(5, 5, 5) 40%, rgba(0,0,0,1) 100%);
}
main{
  min-height: calc(100vh - 145px);
}
.custom-card-header{
  justify-content: space-between
}
.shadow-text{
  text-shadow: 2px 2px 2px #000;
}
.ql-syntax{
  background-color: #23241f;
  color: #fff;
  overflow: visible;
  padding: 2px;
  font-family: monospace;
  font-size: 17px;
  border-radius: 5px;
}
.bg-text{
  background: rgba(0,0,0, 0.3)
}