@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background: rgb(97,94,94);
  background: radial-gradient(circle, rgb(14, 14, 14) 0%, rgb(5, 5, 5) 40%, rgba(0,0,0,1) 100%);
}
main{
  min-height: calc(100vh - 145px);
}
.custom-card-header{
  justify-content: space-between
}
.shadow-text{
  text-shadow: 2px 2px 2px #000;
}
.ql-syntax{
  background-color: #23241f;
  color: #fff;
  overflow: visible;
  padding: 2px;
  font-family: monospace;
  font-size: 17px;
  border-radius: 5px;
}
.bg-text{
  background: rgba(0,0,0, 0.3)
}
.more-posts{
  padding: 300px 0;
}
@media (max-width: 768px) {
  .main-div{
    justify-self: center;
  }
  .card-categories{
    width: 150px !important;
    height: 150px !important;
  }
  .main-section{
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .card-categories-div{
    height: 110px;
  }
  .next-card-category{
    --tw-translate-y: 82%;
    --tw-translate-x: 173%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .prev-card-category{
    --tw-translate-y: -12%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-x: -177%;
  }
  .card-categories-text{
    height: 150px;
  }
  .card-categories-text > h1{
    font-size: 10px;
  }
  .card-categories-text > p {
    font-size: 8px;
  }
  .post-card{
    width: 80%;
  }
  .admin-div{
    width: 100%;
  }
  .create-button{
    justify-self: end;
    right: 45px;
  }
}